.baner{
    display: block;    
} 

.nav-wrapper{
  background-color: #01579b;  
}

.icoMenu{
    font-size: 80px;
}

.tabla{
    margin: 5%
}

h6{
    text-align: center;
}

@media screen and (max-width: 400px) {
   
    body { font-size: 14px; }
    
}