.baner{
    display: block;    
} 

.nav-wrapper{
  background-color: #01579b;  
}

.icoMenu{
    font-size: 80px;
}

.tabla{
    margin: 5%
}

h6{
    text-align: center;
}

.nav-content{
    background-color: #01579b;   
}

